{
  "singleQuote": false,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "printWidth": 120,
  "semi": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true
}
